/* Tailwind Components */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Tailwind Components */

/* Fonts Import */
@font-face {
    font-family: 'vazir';
    src: url('../public/fonts/Vazir-Bold.woff');
    src: url('../public/fonts/Vazir-Bold.woff2');
    src: url('../public/fonts/Vazir-Light.woff');
    src: url('../public/fonts/Vazir-Bold.woff2');
    src: url('../public/fonts/Vazir-Medium.woff');
    src: url('../public/fonts/Vazir-Medium.woff2');
    src: url('../public/fonts/Vazir-Thin.woff');
    src: url('../public/fonts/Vazir-Thin.woff2');
}

body {
    font-family: 'vazir' !important;
}
